baseURL: "https://blog.ace-dev.me"
languageCode: en-us
title: Tech Blog - Acesyde
theme: PaperMod
env: production

enableInlineShortcodes: true
enableRobotsTXT: true

buildDrafts: true
buildFuture: true
buildExpired: false
enableEmoji: true

pagination:
  pagerSize: 5

minify:
  disableXML: true

outputs:
  home:
    - HTML
    - RSS
    - JSON

languages:
  en:
    languageName: "English"
    weight: 1
    menu:
      main:
        - identifier: about
          name: About
          url: about/
          weight: 1
        - identifier: search
          name: Search
          url: search/
          weight: 10

privacy:
  vimeo:
    disabled: false
    simple: true

  x:
    disabled: false
    enableDNT: true
    simple: true

  instagram:
    disabled: false
    simple: true

  youtube:
    disabled: false
    privacyEnhanced: true

services:
  instagram:
    disableInlineCSS: true
  x:
    disableInlineCSS: true
